{% extends 'seekera/jobproviderbase.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block background %} {% endblock %}
{% block body %}
<style>
.rating input[type="radio"]:checked ~ label i.fa-star:before {
  color: yellow !important;
}

</style>
  <section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Add Testimonials</h1>
        <div class="custom-breadcrumbs">
          <a href="">Home</a> <span class="mx-2 slash">/ Provider Home /</span>
          <a href="">Add Testimonials</a> <span class="mx-2 slash"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container mt-5">
  <h2>Review</h2>
  <form method="POST" >
    {% csrf_token %}
        <div class="form-group">
      <label for="title">Feedback:</label>
      <textarea class="form-control" id="title" name="title" rows="3" required></textarea>
    </div>
 <div class="form-group">
  <label for="stars">Stars:</label>
  <div class="rating">
    <input type="radio" id="star5" name="stars" value="5" required/>
    <label for="star5" title="5 stars">
      <i class="fa fa-star"></i> 5
    </label>
    <input type="radio" id="star4" name="stars" value="4"/>
    <label for="star4" title="4 stars">
      <i class="fa fa-star"></i> 4
    </label>
    <input type="radio" id="star3" name="stars" value="3" checked/>
    <label for="star3" title="3 stars">
      <i class="fa fa-star"></i> 3
    </label>
    <input type="radio" id="star2" name="stars" value="2"/>
    <label for="star2" title="2 stars">
      <i class="fa fa-star"></i> 2
    </label>
    <input type="radio" id="star1" name="stars" value="1"/>
    <label for="star1" title="1 star">
      <i class="fa fa-star"></i> 1
    </label>
  </div>
</div>

    <input type="hidden" name="provider" value="{{ provider.id }}">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% include 'includes/footer.html' %}
{% endblock %}
