{% extends 'seekera/jobproviderbase.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block background %} {% endblock %}
{% block body %}
 {% include 'portal/head.html' %}
<section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg' %}');"
  id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">View Applicants</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <a href="#">Job Provider Home</a> <span class="mx-2 slash">/</span>
         <a href="#">Our Jobs</a> <span class="mx-2 slash">/</span>
            <span class="text-white"><strong>View Applicants</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="ajax_listing_paginattion" class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">

    <div class="row">
      {% for user in a %}
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
        <a href="/applicantdetails/{{user.sid}}/" class="block__16443 min-h text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span>
          <h3><b>{{ user.name }}</b></h3>
          <ul class="job-listing-meta list-unstyled pl-3 mb-0">
            <li class="menu-fix mb-2">

              <span class="badge badge-primary">
{{user.status}}
              </span>
              </li>
            <li class="badge badge-secondary menu-fix mb-2"> {{user.email}}</li>

          </ul>
          <span class="badge badge-primary">

          Applied on:
               </span>
          <li class="badge badge-secondary menu-fix mb-2"> {{ user.timestamp }}</li>

        </a>
      </div>
      {% endfor %}
    </div>


  </div>
</section>


{% endblock %}