{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'portal/head.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="ajax_listing_paginattion" class="site-section">
  <div class="container">



        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <a href="/alljobs"><span class="wow fadeInDown" data-wow-delay=".2s">View All Jobs</span></a>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Featured Jobs</h2>
                    </div>
                </div>
            </div>


    <ul id="job" class="job-listings mb-5">
      {% for job in a %}<br>
      <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
        <a href="single/{{job.jid}}/{{job.category}}/"></a>
        <div class="job-listing-logo">
          <img src="{{ job.cname.photo.url }}" alt="Free Website Template by Free-Template.co"
            class="img-fluid">
        </div>

        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
          <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
            <h2>{{ job.title }}</h2>
            <strong>{{ job.cname }}</strong>
          </div>
          <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
            <span class="icon-room"></span> {{ job.location }}
          </div>
          <div class="job-listing-meta">
            <span class="badge badge-success">{{ job.type }}<br>
              <span class="badge badge-success">{{ job.salary }}
          </div>
        </div>

      </li>
      {% endfor %}
    </ul>
  </div>
</section>
</body>
</html>